* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    padding: 50px;
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

header {
    color: #333;
    border-bottom: #666 solid;
    width: 50%;
    display: flex;
    justify-content: center;
    border: #666 solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: none;
    border-bottom-right-radius: none;
    padding: 10px;
}

main {
    width: 50%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    overflow-y: auto;
    border: #666 solid;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
}

li {
    margin: 5px;
    padding: 5px;
    list-style-type: circle;
}

li a {
    cursor: pointer;
    text-decoration: none;
    color: #337ab7;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    min-width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    top: -25%;
    margin: 0 5px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}